body{
  max-width: 800px;
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("backgroundImage.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: 000000;
}

main{
  width: 100%
}

div#mainHead{
  width: 200px;
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  font-family: "Courier New";
  float: right;
  margin-right: 100px;
}

#dealButton{
  align-items: right;
  width: 150px;
  height: 75px;
  font-size: 30px;
  float:center;
  margin-top: 150px;
}

tr{
width:500px;
}



td{
width:125px;
height:20px;
text-align:center;
margin-left: auto;
margin-right: auto;
}


.cardLocation{
width: 110px;
background-color:#F0F0F0;
}

#points{
text-align: center;
color: blue;
}

#pointsBox{
max-width: 100px;
}

