body{
  max-width: 800px;
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("backgroundImage.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: 000000;
  font-size: 14px;
  font-family: Arial;
  color: #ffffff;
}

main{
  width: 100%
}

div#mainHead{
  width: 200px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  float: right;
  margin-right: 100px;
}

#dealButton{
  position:relative;
  width: 200px;
  height: 125px;
  margin-top: 20px;
  background: #eb503b;
  background-image: -webkit-linear-gradient(top, #eb503b, #c92b26);
  background-image: -moz-linear-gradient(top, #eb503b, #c92b26);
  background-image: -ms-linear-gradient(top, #eb503b, #c92b26);
  background-image: -o-linear-gradient(top, #eb503b, #c92b26);
  background-image: linear-gradient(to bottom, #eb503b, #c92b26);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  border: solid #8c1f1f 2px;
  text-decoration: none;
}

#OptionButtonR, #OptionButtonS, #OptionButtonA{
  position:relative;
  width: 200px;
  height: 100px;
  margin-top: 20px;
  background: #eb503b;
  background-image: -webkit-linear-gradient(top, #eb503b, #c92b26);
  background-image: -moz-linear-gradient(top, #eb503b, #c92b26);
  background-image: -ms-linear-gradient(top, #eb503b, #c92b26);
  background-image: -o-linear-gradient(top, #eb503b, #c92b26);
  background-image: linear-gradient(to bottom, #eb503b, #c92b26);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  border: solid #8c1f1f 2px;
  text-decoration: none;
}

#dealButton:hover, #OptionButtonA:hover, #OptionButtonR:hover, #OptionButtonS:hover, #newGame:hover, #changeGameMode:hover {
  background: #fc3c3c;
  text-decoration: none;
}

#from_col, #to_col{
  position:relative;
  width: 100px;
  background: #eb503b;
  background-image: -webkit-linear-gradient(top, #eb503b, #c92b26);
  background-image: -moz-linear-gradient(top, #eb503b, #c92b26);
  background-image: -ms-linear-gradient(top, #eb503b, #c92b26);
  background-image: -o-linear-gradient(top, #eb503b, #c92b26);
  background-image: linear-gradient(to bottom, #eb503b, #c92b26);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: solid #8c1f1f 2px;
  color:#ffffff;
  text-decoration: none;
  font-family: Arial;
}

#from_col:hover, #to_col:hover{
  background: #fc3c3c;
  text-decoration: none;
}

#Remove1, #Remove2, #remove3, #remove4{
  position:relative;
  width: 110px;
  height: 20px;
  margin-top: 10px;
  right:2px;
  background: #eb503b;
  background-image: -webkit-linear-gradient(top, #eb503b, #c92b26);
  background-image: -moz-linear-gradient(top, #eb503b, #c92b26);
  background-image: -ms-linear-gradient(top, #eb503b, #c92b26);
  background-image: -o-linear-gradient(top, #eb503b, #c92b26);
  background-image: linear-gradient(to bottom, #eb503b, #c92b26);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 1px 10px 1px 10px;
  border: solid #8c1f1f 2px;
  text-decoration: none;
}

div#moveUI{
  width: 500px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  float: left;
  margin-bottom: 20px;
}

#moveButton{
  position:relative;
  width: 110px;
  height: 25px;
  margin-top: 10px;
  left:25px;
  background: #eb503b;
  background-image: -webkit-linear-gradient(top, #eb503b, #c92b26);
  background-image: -moz-linear-gradient(top, #eb503b, #c92b26);
  background-image: -ms-linear-gradient(top, #eb503b, #c92b26);
  background-image: -o-linear-gradient(top, #eb503b, #c92b26);
  background-image: linear-gradient(to bottom, #eb503b, #c92b26);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 1px 10px 1px 10px;
  border: solid #8c1f1f 2px;
  text-decoration: none;
}

div#refreshButtons{
  width: 460px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  margin-top: 30px;
  color: #ffffff;
  float: left;
}

#newGame{
  position:relative;
  width: 150px;
  height: 25px;
  margin-top: 10px;
  left:25px;
  background: #eb503b;
  background-image: -webkit-linear-gradient(top, #eb503b, #c92b26);
  background-image: -moz-linear-gradient(top, #eb503b, #c92b26);
  background-image: -ms-linear-gradient(top, #eb503b, #c92b26);
  background-image: -o-linear-gradient(top, #eb503b, #c92b26);
  background-image: linear-gradient(to bottom, #eb503b, #c92b26);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 1px 10px 1px 10px;
  border: solid #8c1f1f 2px;
  text-decoration: none;
}


#changeGameMode{
  position:relative;
  width: 150px;
  height: 25px;
  margin-top: 10px;
  left:25px;
  background: #eb503b;
  background-image: -webkit-linear-gradient(top, #eb503b, #c92b26);
  background-image: -moz-linear-gradient(top, #eb503b, #c92b26);
  background-image: -ms-linear-gradient(top, #eb503b, #c92b26);
  background-image: -o-linear-gradient(top, #eb503b, #c92b26);
  background-image: linear-gradient(to bottom, #eb503b, #c92b26);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 1px 10px 1px 10px;
  border: solid #8c1f1f 2px;
  text-decoration: none;
}

#Remove1:hover, #Remove2:hover, #remove3:hover, #remove4:hover, #moveButton:hover{
  background: #fc3c3c;
  text-decoration: none;
}

h1{
  text-align: center;
}

div#tw{
  width:800px;
  margin-left: 100px;
  margin-right: 100px;
}

tr{
  width:500px;
  margin-left: auto;
  margin-right: auto;
}

td{
  width:125px;
  height:25px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: Arial;
  color: black;
}


.cardLocation{
  width: 110px;
  background-color:#F0F0F0;
}

#points{
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 36px;
}

#errorMessage{
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #666666;
  font-family: Arial;
  color: #ffffff;
  height: 60px;
  font-size: 20px;
}

#pointsBox{
  float:center;
  background: #eb503b;
  background-image: -webkit-linear-gradient(top, #eb503b, #c92b26);
  background-image: -moz-linear-gradient(top, #eb503b, #c92b26);
  background-image: -ms-linear-gradient(top, #eb503b, #c92b26);
  background-image: -o-linear-gradient(top, #eb503b, #c92b26);
  background-image: linear-gradient(to bottom, #eb503b, #c92b26);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #8c1f1f 2px;
  text-decoration: none;
  height: 100px;
}
