<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>


<body>
<table>
    <tr>
      <td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><button id="Remove1">Remove</button></td>
        <td><button id="Remove2">Remove</button></td>
        <td><button id="Remove3">Remove</button></td>
        <td><button id="Remove4">Remove</button></td>
    </tr>

      <div id="mainHead"><h1>Aces Up</h1>
          <div id="pointsBox">
              <label for="points">Current Score:</label>
              <p id="points"></p>
          </div>
          <br />
          <p id="errorMessage">Welcome to Ace's Up!</p>
          <button id="dealButton">Deal</button>
      </div>

</table>

<br/>
<div id="moveUI">
  <select id="from_col">
      <option value="0">Column 1</option>
      <option value="1">Column 2</option>
      <option value="2">Column 3</option>
    <option value="3">Column 4</option>
  </select>
    To:
    <select id="to_col">
      <option value="0">Column 1</option>
      <option value="1">Column 2</option>
      <option value="2">Column 3</option>
      <option value="3">Column 4</option>
    </select>

  <button id="moveButton">Move</button>
</div>



<div id="refreshButtons">
  <button id="newGame">New Game</button>
  <button id="changeGameMode">Change Game Mode</button>
</div>
<script>

var game;

function display(game) {
console.log(game);

setTimeout(function() {
  if (game.wonGame == 1){
    document.getElementById("errorMessage").innerHTML = "You Won!!";
  }
}, 75);


function cardInfo(info, val){
  if(val.value == 11){
    return $( info ).html("<img src=" + val.img + " height='160' width='110'>");
  } else if(val.value == 12){
    return $( info ).html("<img src=" + val.img + " height='160' width='110'>");
  } else if(val.value == 13){
    return $( info ).html("<img src=" + val.img + " height='160' width='110'>");
  } else if(val.value == 14){
    return $( info ).html("<img src=" + val.img + " height='160' width='110'>");
  } else {
    return $( info ).html("<img src=" + val.img + " height='160' width='110'>");
  }
}

$( '.columnOfCards .cardLocation' ).html("");
  $.each(game.cols[0].cards, function( key, val ) {
      cardInfo('#c0 .l'+key, val);
    });
 $.each(game.cols[1].cards, function( key, val ) {
      cardInfo('#c1 .l'+key, val);
    });
 $.each(game.cols[2].cards, function( key, val ) {
      cardInfo('#c2 .l'+key, val);
    });
 $.each(game.cols[3].cards, function( key, val ) {
      cardInfo('#c3 .l'+key, val);
    });

 document.getElementById("points").innerHTML = game.points;
}

//Calls ApplicationController.grabGame()
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});

var count = 0;

$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
count++;
if(count < 13){
  document.getElementById("errorMessage").innerHTML = "Dealt Cards";
} else {
  document.getElementById("errorMessage").innerHTML = "Out of Cards!";
}
});

function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});
}

function removedNotice(){
  setTimeout(function() {
    if (game.canRemove == 1){
      document.getElementById("errorMessage").innerHTML = "Removed Card";
    } else if (game.canRemove == 0){
      document.getElementById("errorMessage").innerHTML = "Can't remove card!";
    } else if (game.canRemove == 2){
      document.getElementById("errorMessage").innerHTML = "Column is Empty!";
    }
  }, 75);
}

$("#Remove1").click(function(){
  removeCard(0);
  removedNotice();
});
$("#Remove2").click(function(){
  removeCard(1);
  removedNotice();
});
$("#Remove3").click(function(){
  removeCard(2);
  removedNotice();
});
$("#Remove4").click(function(){
  removeCard(3);
  removedNotice();
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});

setTimeout(function() {
  if(game.canMove == 0){
      document.getElementById("errorMessage").innerHTML = "Can't move card there!";
  } else if(game.canMove == 1){
      document.getElementById("errorMessage").innerHTML = "Moved Card";
  } else if(game.canMove == 2){
      document.getElementById("errorMessage").innerHTML = "You can only move Aces!";
  } else if(game.canMove == 3){
      document.getElementById("errorMessage").innerHTML = "Can't move from an empty column!";
  }
}, 75);
});


$("#newGame").click(function(){
    location.reload();
});

$("#changeGameMode").click(function(){
    window.open('/','_self',false);
});



</script>
</body>
</html>
